<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="App"
        android:theme="@style/Theme.Thigk2duquangtrung">
        <activity
            android:name=".DanhNhanActivity"
            android:exported="false" />
        <!-- Chức năng 1 -->
        <activity android:name=".ChucNang1Activity" /> <!-- Chức năng 2 -->
        <activity android:name=".BaiHatActivity" /> <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>